body{
	background-color: #F7F9F9;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.nav{background-color: #2C3E50  ;}
.navbar-header{background-color: #2C3E50  ;}
.nav-tabs {
  
   height: 100%;
   width: 200px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #2C3E50  ;
   overflow-x: hidden;
   padding-top: 45px;
}

.nav-tabs a {
   font-family: sans-serif;
   font-weight: bold;
   font-size: 13px;
   display:block;
   margin:0 0 0 1px;
   padding: 6px 2px 6px 16px;
   background: 1B2631#;
   color:white;
   text-decoration:none;
   line-height:1.3em;
}

.nav-tabs ul li a:hover {
   background:#C0392B;
   
}
.nav-tabs ul li a.active{
   background-color:#C0392B;
   	
}

.nav-tabs ul li a.active:hover {
  
   background:#3a425b;
   font-weight:bold;	
}
.butt{
	margin-left: 380px;
}
.butt2{
	margin-left: 420px;
}
.butt3{
	margin-left: 440px;
}
.butt4{
	margin-left: 430px;
}
.butt5{
	margin-left: 390px;
}


.tab-content{
	margin-left: 200px;
	width: 80%;	
	border-radius: 15px;
	background-color: #FBFCFC;
	box-shadow: 1px 1px 10px #B0C4DE;
}
.table{
	margin: 10px 45px 150px;
	width:90%;
	max-height: 700px;
}
.tables{
	margin: 10px 45px 0px;
	width:90%;
	min-height: 30px;
	max-height: 300px;
	
}
.tbls{
	margin: 0px 45px 0px;
	width:90%;
	min-height: 30px;
	max-height: 300px;
}


.search{
	color: #34495E;
	float: right;
	margin-right: 300px;
	margin-top: 35px;
	margin-bottom: 10px;
}
.search1{
	color: #34495E;
	margin-left: 90px;
	margin-top: 60px;
	margin-bottom: 10px;
	
}
.searchLeft{
	color: #34495E;
	float: right;
	margin-right: 570px;
	margin-top: 35px;
}
.searchMid{
	color: #34495E;
	float: right;
	margin-right: 95px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.searchbox{
	margin-left: 10px;
}
.report{
	font-family: verdana;
	font-size: 20px;
	color: #fff;
}
.hdr{
	font-family: verdana;
	font-size: 20px;
	color: #1A5276;
}
.sales{
	border: 1px solid #34495E;
	padding: 20px;
	background: #1A5276;
	color: #fff;
	width: 80%;
	margin-left: 100px;
}
.tbl{
	padding: 20px;
	color: #fff;
	width: 100%;
	margin-left: 0px;
}
.select{
	color: #1A5276;
}
.headKnox{
	color: #1A5276;
	text-decoration: none;
}
.headKnox:hover{
	text-decoration: none;
}
.heads{
	margin-top: 20px;
	color: #1A5276;
}
div#table_include{
  width:500px;
  height:300px;
  float: right;
}
tr#trHead{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13.5px;
	color:#FAFAFA;
	background-color: #1A5276;
}
.thHead{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13.5px;
	color:#FAFAFA;
	background-color: #1A5276;
	
}
tbody{
	font-family: verdana;
	font-size: 13px;
	overflow-y: scroll;
	
}
.logout{font-family: verdana; font-size: 16px;}
.addLink{
	text-decoration: underline;
	font-family: verdana;
	font-size: 15px;
	margin: 40px 90px 5px;
	float: right;
}
#users{
	margin: 15px 10px;
	float: right;
}
h2{
	margin-top: 20px;
}
label{
	font-family: verdana;
	font-size: 12px;
	color: #1A5276;
	padding-top: 7px;
	display:inline-block;
	max-width:100%;
}
.control-label, .form-control{
	margin-top: 8px;
}
.user{
	color: #fff;
}
.user1{
	color: #1A5276;
	width: 60%;
	height: 30px;
	margin-top: 10px; 
}
.form-control{
	width: 60%;
	height: 30px;
	border-radius: 0;
	background-color: #1A5276;
	color: #fff;
	display: inline;
}
#isAdmin{
	margin:5px 15px 0px;
}
.check{
	width: 20px;
	height: 20px;	
}
.sub{
	font-family: Verdana;
	font-size: 16px;
	background-color: #D0D3D4;
	color: #1A5276;
    border: none;
    padding:8px 32px;
    text-decoration: none;
    margin: 20px 2px;
    cursor: pointer;
}
.subOrder{
	font-family: Verdana;
	font-size: 16px;
	background-color: #D0D3D4;
	color: #1A5276;
    border: none;
	width: 150px;
    padding:8px 40px;
    text-decoration: none;
    margin: 20px 120px;
    cursor: pointer;
}
.subUpdate{
	font-family: Verdana;
	font-size: 16px;
	background-color: #D0D3D4;
	color: #1A5276;
    border: none;
    padding:8px 32px;
    text-decoration: none;
    margin: 20px 120px;
    cursor: pointer;
}
.sub:hover, .subUpdate:hover, .subOrder:hover{
	background-color: #34495E;
	color: #fff;
}
.ClientForm{
	width: 50%;
	padding: 10px;
}
.Client{
	width: 50%;
	padding: 10px 10px 10px;
}
#buttonSubmit{
	padding: 10px 30px;
	margin-top: 25px;
	margin-left:230px;
}

div#h1Head{
  margin-top:150px;
  margin-left:140px;
  position:absolute;
}

div#imageCar{
  position:absolute;
}

h1{
  color:#fff;
  font-size:55px;
  margin-bottom:2px;
}

p.textL{
  color:#ffffff;
  font-size:30px;
}

div#login{
  margin-left:140px;
  margin-top:210px;
  position:absolute;
}
.login-card{
  width:400px;
  padding:35px 40px 30px;
  margin-top:50px;
  border-radius:2px;
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn.btn-signin{
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  background:#1565C0;
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
  margin-top:5px;
}

.login-card .btn.btn-signin:hover, .login-card .btn.btn-signin:active, .login-card .btn.btn-signin:focus{
  background:rgb(104, 145, 162);;
}
.input-group{
	height: 20px;
}
.top{margin-top: 20px;}
.left{margin-left: 80px;}

/* add_orders */
.cntr {
	
	border: 15px solid #1E88E5;
	position: center;
	margin-left:400px;
	width: 40%;
	background-color: #85C1E9;
	font-size: 17px;
}
.margin {
	margin-left:300px;	
}

.boxhead {
	color: white;
	font-size: 30px;
}
.tabbable{
	margin: 30px 0px;
}

.font{
   margin-left:5px;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 14px;
   

}
.text{
	margin-top:50px;
	margin-left: 350px;
	width: 150px;
	height: 90px;
	font-size: 16px;
}
.text1
{
	margin-top:-30px;
	margin-left: 100px;
	text-transform: uppercase;
}
.contentNested{
	width: 90%;
	margin-top: 50px;
	margin-left: 45px;

}
.content{
	margin: 50px;
	padding: 100px;
}
.content1{
	margin: 10px 100px;
	padding: 10px;
}
.lefty{
	margin-left:75px;
}
.tex{
	margin-left: 80px;
}
 



