body{
	background-color: #F7F9F9;
}
.tab-content{
	margin-left: 120px;
	width: 80%;	
	background-color: #FBFCFC;
	box-shadow: 1px 1px 10px #B0C4DE;
}
.table{
	margin: 10px 45px 150px;
	width:90%;
}
#myTable{
	margin: 10px 15px;
}

.search{
	color: #34495E;
	float: right;
	margin-right: 300px;
	margin-top: 35px;
	margin-bottom: 10px;
}
.search1{
	color: #34495E;
	float: right;
	margin-right: 340px;
	margin-top: 35px;
	margin-bottom: 10px;
}
.searchMid{
	color: #34495E;
	float: right;
	margin-right: 95px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.searchbox{
	margin-left: 10px;
}
div#table_include{
  width:500px;
  height:300px;
  float: right;
}
tr#trHead{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13.5px;
	color:#FAFAFA;
	background-color: #1A5276;
}
.thHead{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13.5px;
	color:#FAFAFA;
	background-color: #1A5276;
}
tbody{
	font-family: verdana;
	font-size: 13px;
}
.addLink{
	text-decoration: underline;
	font-family: verdana;
	font-size: 15px;
	margin: 40px 90px 5px;
	float: right;
}
#users{
	margin: 15px 10px;
	float: right;
}
h2{
	margin-top: 20px;
}
label{
	font-family: verdana;
	font-size: 12px;
	color: #1A5276;
	padding-top: 7px;
	display:inline-block;
	max-width:100%;
}
.control-label, .form-control{
	margin-top: 8px;
}
.user{
	color: #fff;
}
.user1{
	color: #1A5276;
	width: 60%;
	height: 30px;
	margin-top: 10px; 
}
.form-control{
	width: 60%;
	height: 30px;
	border-radius: 0;
	background-color: #1A5276;
	color: #fff;
	display: inline;
}
#isAdmin{
	margin:5px 15px 0px;
}
.check{
	width: 20px;
	height: 20px;	
}
.sub{
	font-family: Verdana;
	font-size: 16px;
	background-color: #D0D3D4;
	color: #1A5276;
    border: none;
    padding:8px 32px;
    text-decoration: none;
    margin: 20px 2px;
    cursor: pointer;
}
.subOrder{
	font-family: Verdana;
	font-size: 16px;
	background-color: #D0D3D4;
	color: #1A5276;
    border: none;
	width: 150px;
    padding:8px 40px;
    text-decoration: none;
    margin: 20px 120px;
    cursor: pointer;
}
.subUpdate{
	font-family: Verdana;
	font-size: 16px;
	background-color: #D0D3D4;
	color: #1A5276;
    border: none;
    padding:8px 32px;
    text-decoration: none;
    margin: 20px 120px;
    cursor: pointer;
}
.sub:hover, .subUpdate:hover, .subOrder:hover{
	background-color: #34495E;
	color: #fff;
}
.ClientForm{
	width: 50%;
	padding: 10px 30px 30px;
}
.Client{
	width: 50%;
	padding: 10px 10px 10px;
}
#buttonSubmit{
	padding: 10px 30px;
	margin-top: 25px;
	margin-left:230px;
}

div#h1Head{
  margin-top:150px;
  margin-left:140px;
  position:absolute;
}

div#imageCar{
  position:absolute;
}

h1{
  color:#fff;
  font-size:55px;
  margin-bottom:2px;
}

p.textL{
  color:#ffffff;
  font-size:30px;
}

div#login{
  margin-left:140px;
  margin-top:210px;
  position:absolute;
}
.login-card{
  width:400px;
  padding:35px 40px 30px;
  margin-top:50px;
  border-radius:2px;
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn.btn-signin{
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  background:#1565C0;
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
  margin-top:5px;
}

.login-card .btn.btn-signin:hover, .login-card .btn.btn-signin:active, .login-card .btn.btn-signin:focus{
  background:rgb(104, 145, 162);;
}
.input-group{
	height: 20px;
}
.top{margin-top: 20px;}
.left{margin-left: 80px;}

/* add_orders */
.cntr {
	
	border: 15px solid #1E88E5;
	position: center;
	margin-left:400px;
	width: 40%;
	background-color: #85C1E9;
	font-size: 17px;
}
.margin {
	margin-left:300px;	
}

.boxhead {
	color: white;
	font-size: 30px;
}
.tabbable{
	margin: 90px 0px;
}
.nav-tabs {
   float:left;
   width:100%;
   background:#F8F8FF;
   border-bottom:4px solid #3a425b;
   overflow:hidden;
   position:relative;
}
.nav-tabs ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
.nav-tabs ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
.nav-tabs ul li a {
   font-family: sans-serif;
   font-weight: bold;
   font-size: 13px;
   display:block;
   margin:0 0 0 1px;
   padding:10px 19px;
   background: #E5E7E9;
   color:#1B2631;
   text-decoration:none;
   line-height:1.3em;
}
.nav-tabs ul li a p {
   font-family: sans-serif;
   font-size: 12px;
   display:block;
   margin:0 0 0 1px;
   background: #E5E7E9;
   color:#424949;
   text-decoration:none;
   line-height:1.3em;
}
.nav-tabs ul li a p:hover, .nav-tabs ul li a:hover {
   background:#34495E;
   color:#fff;
}
.nav-tabs ul li a.active, .nav-tabs ul li p.active{
   background:#34495E;
   color:#fff;	
}

.nav-tabs ul li a.active:hover, .nav-tabs ul li p.active:hover {
   color:#fff;
   background:#3a425b;
   font-weight:bold;	
}