div#table{
  width:820px;
  height:300px;
  

}
div#table_include{
  width:500px;
  height:300px;
  float: right;
}
tr#trHead{
  color:#455A64;
}

tr#trBody{
  color:#90A4AE;
}

button#addButton.btn.btn-primary{
  margin-left:130px;
  margin-top: 110px;
  width:150px;
  float:left;
}

nav.navbar{
	background-color:#1E88E5;
	color: #fff;
}
.navigation{
	color: #fff;
}
.navbar-brand{
	font-size: 22px;
}

li:hover {
	background-color: #1E88E5;
	opacity: 0.7;
}

#users{
	margin: 15px 10px;
	float: right;
}
#myCarousel{
	margin: 50px 150px;
	width: 500px;
	height: 250px;
}
#cImage{
	width:500px;
	height:250px;
}
label{
	font-size: 16px;
	display:inline-block;
	max-width:100%;
	margin-bottom:10px;
	font-weight:700;
}
.ClientForm{
	width: 500px;
	height: 500px;
	padding: 30px 30px;
	margin-left: 430px;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
}
#buttonSubmit{
	padding: 10px 30px;
	margin-top: 25px;
	margin-left:230px;
}

div#h1Head{
  margin-top:150px;
  margin-left:140px;
  position:absolute;
}

div#imageCar{
  position:absolute;
}

h1{
  color:#fff;
  font-size:55px;
  margin-bottom:2px;
}

p.textL{
  color:#ffffff;
  font-size:30px;
}

div#login{
  margin-left:140px;
  margin-top:210px;
  position:absolute;
}
.login-card{
  width:400px;
  padding:35px 40px 30px;
  margin-top:50px;
  border-radius:2px;
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn.btn-signin{
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  background:#1565C0;
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
  margin-top:5px;
}

.login-card .btn.btn-signin:hover, .login-card .btn.btn-signin:active, .login-card .btn.btn-signin:focus{
  background:rgb(104, 145, 162);;
}
.input-group{
	height: 20px;
}
.heading{font-size: 30;margin:auto; color: black; text-decoration: bold; font-family: Montserrat;}
.top{margin-top: 20px;}
.submarg{margin-top: 48px;}
.sub-btn{font-family: montserrat; font-size: 20; color: black;}

/* add_orders */
.cntr {
	
	border: 15px solid #1E88E5;
	position: center;
	width: 40%;
	background-color: #85C1E9;
	font-size: 17px;
}

.boxhead {
	color: white;
	font-size: 30px;
}
